body
{
    background-color: #f7f7f7;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
q{
    text-align: center;
    display: block;
    font-style: italic;
}

q+q{
 font-size: 14px;
    font-style: normal;
     
    
}
#left,#right
{
    width: 49%;
    position: relative;
    float: left;
    margin-left: 10px;
    
}
hr{
    clear: both;
}
#email{
    display: block;
    text-align: center;
}