input[type="text"],input[type="number"],input[type="password"],input[type="email"]{
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 50%;
    font-size: 1.2em;
    border: 0;
    border-bottom: 2px solid black;
    background-color: transparent;
}

.active{
    border: 1px solid black !important;
    color: blue;
}